# Server
SERVER_HOST=0.0.0.0
SERVER_PORT=3000
SERVER_ENV=development
SERVER_COUNTRY=EG
SERVER_TIMEZONE=Africa/Cairo

# MySQL
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=library_local_db
MYSQL_USER=user
MYSQL_PASSWORD=password

# App DB config
DATABASE_HOST=localhost
DATABASE_PORT=3306
DATABASE_USERNAME=user
DATABASE_PASSWORD=password
DATABASE_NAME=library_local_db

# Redis
REDIS_HOST=redis
REDIS_PORT=6379

CHOKIDAR_USEPOLLING=true
WATCHPACK_POLLING=true